<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/favicon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bank Manager</title>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="images">
            <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
        </div>
    </nav>
    <div class="logo">
        <img src="/images/logo.JPEG" alt="">
    </div>
    <div class="search">
        <div class="input">
            <form name="input" action="/search" method="get">
                <i class="fa fa-search"></i>
                <input type="text" name="search" id="search-frame">
                <details>
                    <summary>Advanced Search Options</summary>
                    {{#each options}}
                    <input type="checkbox" name="searchOption" , value={{this}} checked="checked">{{this}}<br />
                    {{/each}}
                </details>
            </form>
            <div class="buttons">
                <a href="/new/client"><button>New Client</button></a>
                <a href="/new/account"><button>New Account</button></a>
                <a href="#"><button>New Loan</button></a>
                <a href="#"><button>New Payment</button></a>
            </div>
        </div>
    </div>
</body>

</html>