<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>New client</title>
  <link rel="stylesheet" href="/form-style.css">
  <style>
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px 10px;
    }
  </style>
</head>

<body>

  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/ryanyuan-yyr/database-lab-bank-mangement-system">About</a></li>
    </ul>
    <div class="images">
      <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
    </div>
  </nav>
  <div class="container">
    <h1>New Client</h1>

    <form action="/new/client" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Profile</legend>
        <div class="row">
          <div class="col">
            Name <input type="text" type="text" name="name" required pattern="{{restriction.name}}">
            {{!-- Chinese characters, english characters --}}
          </div>
          <div class="col">
            ID <input type="text" type="text" name="clientID" required pattern="{{restriction.clientID}}">
            {{!-- 18 digits with the exception that the last character can be 'X' or 'x' --}}
          </div>
        </div>

        <div class="row">
          <div class="col">
            Tel <input type="text" type="text" name="tel", pattern="{{restriction.tel}}">
           {{!-- nullable digits with an optional leading '+' --}}
          </div>
          <div class="col">
            Address <input type="text" type="text" name="address">
            {{!-- No restriction --}}
          </div>

          <div class="col">
            
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Contact</legend>

        <div class="row">
          <div class="col">
            Contact Name <input type="text" type="text" name="contactname" required pattern="{{restriction.name}}">
            {{!-- Chinese characters, english characters --}}
          </div>
        </div>

        <div class="row">
          <div class="col">
            Contact Email <input type="email" type="text" name="contactemail">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Service</legend>
      </fieldset>
      <br />
      <input type="submit" value="Submit" class="is-full-width" />
    </form>
  </div>
</body>

</html>